div#principal {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
}

div#actu {
    grid-column: 1;
    margin: 25px
}

div#finit {
    grid-column: 2;
    margin: 25px
}

h2#titre {
    grid-row: 1;
    grid-column: 1/3;
}
