
.barrecote{
    
    position: absolute;
    top: 16%;    
    width: 16%;
    height: 100%;
    background-color: none;
    z-index: 9999;

}

.barrecote li{
    display: none;
}
.barrecote:hover li{
    display: block;
}
.barrecote:hover {
    animation: couleurFond 0.4s linear forwards;
}

@keyframes couleurFond{
    0%{
        background-color: none;
        background-position: 0% 0%;
    }
    100%{
        background-color: rgb(43, 155, 123);
        background-position: 100% 0%;
    }
}

.barrecote ul li{
    padding-top:1em ;
    padding-bottom:1em ;
}

.barrecote img{
    width: 4em;
    
}

