header{
    /* background-color: rgba(33, 139, 77, 0.719); */
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 13%;
}
a{
    text-decoration: none;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    width: auto;
    border-radius: 15px;
    margin: 0px;
}
h1 a{
    color: rgb(255, 255, 255);
}

.titre{
    width: fit-content;
    margin: auto;
}

.buttonHeader, .buttonHeader::after {
  transition: all 0.3s;
}


.buttonHeader {
    width: 100%;
    display: block;
    height: 1.5cm; 
    background: none;
    border: 4px solid rgb(255, 240, 220);
    border-radius: 10px;
    color: rgb(255, 240, 220);
    font-weight: bold;
    top: 11%;
    left: -30%;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
}


.connexion {
    position: absolute ;
    left: 85%;
}

/* .buttonHeader span{
    z-index: 1000;
} */   
.buttonHeader::before, .buttonHeader::after {
    background: rgb(255, 240, 220);
    content: "";
    position: absolute;
}

.buttonHeader:hover {
    color: rgb(100, 180, 230);
    z-index: 1;
}
.buttonHeader::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    z-index: -1;
}
.buttonHeader:hover:after {
    width: 100%;
    z-index: -1;
}

.menuHeader table{
    margin: auto;
}
.menuHeader th{
    width: 5cm;
}
.menuHeader{
    z-index: 1;
}
.menuHeader ul{
    display: flex;
    flex-direction: row;
}
.menuHeader li{
    list-style-type: none;
}

#popupconnexion, #popupcreation{
    display: none;
    position: fixed;
    width: 30%;
    height: auto;
    z-index: 9999;
    
    
}

.flou{
    filter: blur(5px);
}

#loupe{
    width: 10%;
}