.principal{
    position: absolute;
    left: 12.5%;
    top: 13%;
    width: 75%;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.85); 
}

.principal h2{
    text-align: center;
    font-size: 30px;

}
.principal p{
    margin-left:1em ;
    font-size: 20px;

}


body{
    background-color: rgb(191, 210, 188);
}

.principal img{
    width: 50%;
    position: absolute;
    left: 25%;
}

body {
    background-image: url('../src/pyrenees.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}


