html {
    height: 100%;
}

body {
    display: grid;
    /* background-color: rgb(191, 210, 188); */
    /* background-image: url('../src/pyrenees.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    grid-template-columns: minmax(auto, 15%) auto;
    grid-template-rows: 25% auto;
}

#Contenu,
#DemanderConnexion {
    /* position: absolute; */
    width: 75%;
    margin: 0 auto;
    /* left: 18%; */
    /* top: 15%; */
    /* height: 75%; */
    background-color: rgba(255, 255, 255, 0.85);
    height: 100%;

}

div#Contenu {
    display: grid;
    grid-template-columns: 25% auto;
}

#DemanderConnexion {
    display: none;
}

#DemanderConnexion h1 {

    top: 35%;
    left: 25%;
    text-align: center;
    color: black;
}

#barreGauche {
    background-color: rgba(128, 128, 128, 0.864);
    height: 100%;
    /* width: 25%; */
    grid-column: 1;
}

#barreGauche ul,
#barreGauche li {
    margin-top: 0;
    padding-top: 5%;
}

#barreDroite {
    /* width: 75%; */
    height: 100%;
    top: 0%;
    left: 25%;
    grid-column: 2;
}

h1 {
    color: black;
}

.messageRecu {
    margin: 5%;
}

#barreGauche ul li:hover {
    cursor: pointer;
}


div#contenupage input[type="text"],
div#contenupage input[type="email"],
div#contenupage textarea {
    width: 100%;
    margin: 1% 0;
}


#message {
    width: 75%;
    height: 25em;
}

div#sidebarr {
    grid-column: 1;
    grid-row: 1/3;
}

div#contenupage {
    grid-column: 2;
    grid-row: 2;
}

div#head {
    grid-column: 2;
    grid-row: 1;
}

img.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

form{
    padding: 0 1%;
}