.projet{
    position:relative;
    border-radius: 20px;
    width: 70%;
    height: 30%;
    margin-bottom: 10%;
    top: 10%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(204, 219, 231);
    left: 15%;

}

.barreMilieu{

    border-bottom: 2px solid black;
    height: 20%;
    width: 100.8%;
    right: 0.4%;
    bottom: 5px;
    position: relative;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: aliceblue;
    align-items:center;
}

.projet li{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}